{% extends 'base.html' %}

{% block content %}





{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
{{ msg }}
</div>
{% endfor %}

<br/>
<div>
    <h1>Conferir empresas</h1>
</div>
<br/>

<div>
    <form method="POST">

        {{ form.hidden_tag() }}

        {{ form.empresas.label(class="form-label") }}
        {{ form.empresas(class="form-control") }}

        {{ form.responsavel_conferencia.label(class="form-label") }}
        {{ form.responsavel_conferencia(class="form-control") }}



        <br/>
        {{ form.conferir(class="btn btn-primary") }}
        {{ form.excluir_conferencia(class="btn btn-danger") }}



    </form>
</div>
<br/>
<div>
    <table class="table table-hover">
        <form method="post">
            <thead>
                <tr>
                    <th> {{ filtro.id.label }}</th>
                    <th>{{ filtro.nome.label}}</th>
                    <th> {{ filtro.grupo.label}}</th>

                    <th>{{ filtro.macro.label}}</th>
                    <th>{{  filtro.regime.label }}</th>
                    <th>{{  filtro.apuracao.label}}</th>
                    <th>{{  filtro.movimento_apuracao.label}}</th>

                    <th>{{  filtro.conferencia.label}}</th>
                    <th>{{  filtro.data_conferencia.label }}</th>
                    <th>{{  filtro.responsavel_conferencia.label }}</th>

                    <th>{{ filtro.filtrar }}</th>
                </tr>
                <tr>
                    <th> {{ filtro.id(class="form-control") }}</th>
                    <th>{{  filtro.nome(class="form-control")}}</th>
                    <th> {{ filtro.grupo(class="form-control")}}</th>

                    <th>{{  filtro.macro(class="form-control")}}</th>
                    <th>{{  filtro.regime(class="form-control") }}</th>
                    <th>{{  filtro.apuracao(class="form-control")}}</th>
                    <th>{{  filtro.movimento_apuracao(class="form-control")}}</th>

                    <th>{{  filtro.conferencia(class="form-control")}}</th>
                    <th>{{  filtro.data_conferencia(class="form-control") }}</th>
                    <th>{{  filtro.responsavel_conferencia(class="form-control") }}</th>
                </tr>
            </thead>
        </form>

        {% for dado in dados %}
                <tr>
                    <td>{{ dado.id }}</td>
                    <td>{{ dado.nome }}</td>
                    <td>{{ dado.grupo }}</td>
                    <td>{{ dado.macro }}</td>
                    <td>{{ dado.regime }}</td>


                    {% if dado.conferencia == True %}

                         {% if dado.apuracao == True %}
                            <td>Sim</td>
                            <td>{{ dado.movimento_apuracao}}</td>
                        {% else %}
                            <td>Não</td>
                            <td></td>
                        {% endif %}

                        <td>Sim</td>
                        <td>{{ dado.data_conferencia|string()}}</td>
                        <td>{{ dado.responsavel_conferencia }}</td>

                    {% else %}

                        {% if dado.apuracao == True %}
                            <td>Sim</td>
                            <td>{{ dado.movimento_apuracao}}</td>
                        {% else %}
                            <td>Não</td>
                            <td></td>
                        {% endif %}

                        <td>Não</td>
                        <td></td>
                        <td></td>

                    {% endif %}


                </tr>
            {% endfor %}


    </table>
</div>



{% endblock %}