
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('visualizar_dados') }}">Empresas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('registrar_empresas') }}">Registrar Empresas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('liberar_empresas') }}">Liberar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('apurar_empresas') }}">Apurar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('conferir_empresas') }}">Conferir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('enviar_emails_das_empresas') }}">Envio de Emails</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('notas_fiscais') }}">Notas Fiscais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('resumo') }}">Resumo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('visualizar_emails') }}">Emails</a>
      </li>




    </ul>
  </div>
</nav>